extends partials/layout.pug

mixin pagnationLetter( letter )
    li.page-item
        - let pagnationurl = `profile/showProfiles?lastNameSubString=${letter}&`
        a.page-link(href=pagnationurl) #{letter}

block head-content
    title Why I Lift - Lifter Profiles
block page-content
    main.container-fluid
        .row.justify-content-md-center.bg-brand-red
            h1.text-light.justify-content-md-center Lifter Profiles
        .container
            .row.justify-content-md-center
                nav.mt-3( aria-label="Lifter profile links by alphabet")
                    ul.pagination.pagination-sm.flex-wrap.d-flex.justify-content-center
                        each letter in ['A', 'B','C','D','E','F','G','H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
                            +pagnationLetter( letter )
            .row.justify-content-md-center
              .form-inline
                .form-group
                  label.col-form-label.form-control-lg.text-light(for='lastNameSubstring') Last Name Search
                  input#lastNameSubstring.form-control(type='text', pattern='.{3,}', required='', title='3 characters minimum', name='lastNameSubstring')
                button#searchButton.btn.btn-danger(type='submit') Search
                script.
                    $('#searchButton').on('click', event => {
                        let url = "getMinimalProfileData?lastNameSubstring=" + document.getElementById('lastNameSubstring').value;
                        fetch( url )
                            .then( data => {return data.json(); })
                            .then( response => {                                
                                let baseURL = window.location.href.substring( 0,window.location.href.indexOf('showProfiles'));

                                if( response.length == 0)
                                {
                                    $("#noResultsModal").modal('show')
                                }
                                else if( response.length == 1)
                                {
                                    window.location.href =  baseURL + 'viewProfile?whyiliftId=' + response[0].ipowerliftId;
                                }
                                else
                                {
                                    $("#searchResultList").empty();
                                    response.forEach( result => {
                                        let id = result.ipowerliftId;
                                        let name = result.lastNameFirstName;
                                        let link = baseURL + 'viewProfile?whyiliftId=' + id;
                                        let html = '<a class="list-group-item.list-group-item-action" href="' + url + '">' + name + '</a>';
                                        $("#searchResultList").append(html);
                                    });
                                    $("#searchResultsModal").modal('show');
                                }
                        });
                    });

            .row.justify-content-md-center
                article
                    ul.list-unstyled.list-group
                        each val,i in new Array(10)
                            - var index = "#" + i;
                            - var imgurl = "http://lorempixel.com/400/200/sports/" + i
                            li.media: a.list-group-item.list-group-item-action.bg-light(href=index style="display:inline-flex")
                                img.mr-3(height="100px" width="120px" src=imgurl)
                                .media-body
                                    h5.mt-0.mt-1 Sottosanti, Kathi Croston
                                        small &nbsp;♀
                                    .row
                                        .col-sm-4.col-md-auto: span.text-muted Nationality: 
                                            | USA
                                        .col-sm-4.col-md-auto: span.text-muted Federation: 
                                            | WNPF
                                    .row
                                        .col-sm-4.col-md-auto: span.text-muted Height: 
                                            | 65"
                                        .col-sm-4.col-md-auto: span.text-muted Weight: 
                                            | 260
                                            small &nbsp;lbs
                                        .col-sm-4.col-md-auto: span.text-muted Experience: 
                                            | 9
                                            small &nbsp;yrs
                //- Possible Advertiement slot
                //-aside.justify-content-right(style="margin-left: 50px;")
                //-    .card(style="width: 18rem;")
                //-        img.card-img-top(src="http://lorempixel.com/400/200/sports/1", alt="")
                //-       .card-body
                //-            h5.card-title Advertisement
                //-            p.card-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur, consectetur!
            #searchResultsModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="searchResultsModalLabel" aria-hidden="true")
                .modal-dialog(role="document")
                    .modal-content
                        .modal-header
                            h5#searchResultsModalLabel.modal-title Search Results
                            button.close(type="button" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") ×
                        #searchResultBody.modal-body
                            #searchResultList.list-group
                                a.list-group-item.list-group-item-action.active(href="#")
                                    | Cras justo odio
                                a.list-group-item.list-group-item-action(href="#") Dapibus ac facilisis in
                                a.list-group-item.list-group-item-action(href="#") Morbi leo risus
                                a.list-group-item.list-group-item-action(href="#") Porta ac consectetur ac
                                a.list-group-item.list-group-item-action.disabled(href="#") Vestibulum at eros
                        .modal-footer
                            button.btn.btn-secondary(type="button" data-dismiss="modal") Close
            #noResultsModal.modal.fade(tabindex="-2" role="dialog" aria-labelledby="noResultsModalLabel" aria-hidden="true")
                .modal-dialog(role="document")
                    .modal-content
                        .modal-header
                            h5#noResultsModalLabel.modal-title Search Results
                            button.close(type="button" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") ×
                        .modal-body
                            p No Results Found

